.left {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 50%;
  height: 50%;
}

.left .name__input {
  appearance: none;
  background: none;
  border: none;
  color: white;
  font-size: 36px;
  border-bottom: 3px solid rgba(255, 255, 255, 0.8);
  margin-bottom: 20px;
}
.left .name__input::placeholder {
  color: white;
  opacity: 0.7;
}

.left .name__input:focus,
.left .name__input:active {
  outline: none;
}

.left .name__text {
  font-size: 36px;
  margin-bottom: 20px;
}

.left .hidden {
  display: none;
}

.left .user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 830px) {
  .left {
    flex: 1;
  }
}
