.location {
  opacity: 0.7;
  transition: opacity 0.3s ease-in;
  font-style: italic;
  font-size: 12px;
  position: absolute;
  bottom: 25px;
}

.location:hover {
  opacity: 1;
}

@media (max-width: 830px) {
  .location {
    position: inherit;
    margin: 20px;
  }
}
